.best {
  background-image: url("../../../public/images/Bestbg.png");
  padding: 80px 0 110px;
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
}
