.footer {
  padding: 52px 0 20px;
  background-color: #fff;
  &__list {
    max-width: 380px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 30px;
    &:first-child {
      position: relative;
    }
    &:first-child::before {
      content: url(../../../public/icons/coffee-beans-white.svg);
      top: -20px;
      left: 0;
      position: absolute;
    }
    &-item {
      margin-left: 40px;
      cursor: pointer;
      & a {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
.decoration {
  margin: 0 auto;
  width: 200px;
  display: flex;
  margin-bottom: 36px;
  & img {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
  }
  &-element {
    display: block;
    width: 60px;
    margin-top: 25px;
    height: 1px;
    background-color: #000000;
  }
}
